@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    background: #141E30;  /* fallback for old browsers */
    background: linear-gradient(to right, #191c4d, #171718);  /* Chrome 10-25, Safari 5.1-6 */
    min-height: 100vh;
  }
}
